# Todo el sitio es del equipo dueño...
*                     @avvedit-creator @Juanko1939

# ...salvo los artículos de Formación y sus imágenes: sin dueño, así los
# articulistas los publican solos. Los libros de Biblioteca quedan con dueño:
# un redactor puede proponerlos, pero se publican al aprobarlos un dueño. Cualquier PR que toque otra ruta
# necesita la aprobación de un dueño (ver ruleset de main).
/content/formacion/
/media/formacion/
